@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,500&display=swap');



/* * {
    border:1px solid grey;
} */
html{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

#logo{
    color: palevioletred;
}

body{
    /* margin: 45px; */
    /* padding: 67px; */
}

header {
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    /* text-align: center; */
    height: 30px;
    /* padding: 10px; */
    /* margin:0,10px,10px,10px; */
    font-family: 'Open Sans';
    font-size: 15px;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
}
.search {
    width: 1rem;
    height: 1rem; 
}

.card_image{
    width: 20rem;
    height: 12rem;
}

.container div{
    display: inline-block;
    height:200px;
    width: 400px;
}